<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caihua.roleCenter.domain.mapper.ItemMapper">

    <sql id="baseModel">
    id,name,no,status,created,updated
  </sql>
    <select id="select" parameterType="com.caihua.roleCenter.model.dto.Item"
    resultType="com.caihua.roleCenter.model.dto.Item">
        select <include refid="baseModel"/>
        from rc_item
        <where>
          <if test="name!=null and name != ''">
             and name=#{name}
          </if>
          <if test="no!=null and no!=''">
             and no=#{no}
          </if>
          <if test="status>0">
             and status=#{status}
          </if>
        </where>
        order by updated desc
    </select>

    <update id="update" parameterType="com.caihua.roleCenter.model.dto.Item">
        update rc_item
        <set>
            <if test="name!=null and name != ''">
                name=#{name},
            </if>
            <if test="no!=null and no!=''">
                no=#{no},
            </if>
            <if test="status>0">
                status=#{status},
            </if>
            updated=#{updated}
        </set>
        where id=#{id}
    </update>

</mapper>